body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    background-color: #333;
}
.content-container {
    text-align: center;
    max-width: 600px; /* Optional: Adjust the maximum width of the content container */
    margin: auto; /* Center the content container */
}
.container {
    text-align: center; /* Center the text inside the container */
}

h1 {
    color:white;
    font-size: 3em;
}
h2 {
    color: white;

}
h3 {
    color:#B2BABB;
    font-size:1em;
    font-weight: 100;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #424949;
}

strong {
    font-size: 1.2em;
    color: white;
    text-align: left;
}

.post-content {
    margin-top: 10px;
    color: white;
}

.post-date {
    margin-top: 10px;
    color: #B2BABB;
}

form {
    text-align: center;
    width: 800px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}

/* Apply styles to text type inputs */
input[type="text"] {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

/* Apply styles when the input is focused */
input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
    color: #c5d8eb

}

a {
    color: #007BFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px; /* Add padding for better appearance */
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
    border-radius: 5px;
}
a:hover {
    background-color: #0056b3; /* Change background color on hover */
}

label {
    color:white
}

label.lb{
    color:white;
    font-size: 1.5em;
}

a.create-post-link {
    color: #007BFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px; /* Add padding for better appearance */
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
    border-radius: 5px;
}

a.create-post-link:hover {
    background-color: #0056b3; /* Change background color on hover */
}

input.create-post-link {
    color: #007BFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px; /* Add padding for better appearance */
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
    border-radius: 5px;
}

input.create-post-link:hover {
    background-color: #0056b3; /* Change background color on hover */
}

form input.create-post-link {
    margin-top: 10px; /* Optional: Adds some space above the button */
    margin-left: auto;
    margin-right: auto;
    display: block;
}