<!DOCTYPE html>
<html>
<head>
    <title>New post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <div id="header" class="sidebar">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        <a  href="{{ url_for('index') }}"class="sidebar-button">Home</a>
        <a  class="sidebar-button">About</a>
        <a  class="sidebar-button">Contact</a>
    </div>
    <div class="content-container">
    <h1>New Post</h1>
    <h3>Please consider what you post before posting. All profanity and disrespectful posts will be removed.</h3>

    <form method="post" action="{{ url_for('post') }}">

        <input type="text" name="title"  placeholder="Title" required>
        <input type="text" name="content"  placeholder="Content" required>

        <input class="create-post-link" type="submit" value="Post">
    </form>

    <a href="{{ url_for('index') }}">Home</a>
    </div>
</div>
</body>
</html>
